   <div class="container">
      <table class="table">
        <tbody>
          <!-- dyn content begin -->
          <tr ng-repeat="ad in advertisments">
          <td>
           <a href="#/advertisment/{{ad._id}}"><img ng-src="{{ad.images[0].href}}" class="img-thumbnail"></a>
         </td>
         <td>
           <div>{{formatDate(ad.created)}}</div>
           <div><a href="#/advertisment/{{ad._id}}"><h2>{{ad.description}}</h2></a></div>
           <div><h3>{{ad.price}}</h3></div>
         </td>
    </tr>

          <!-- 
          <tr><td><a href="#/advertisment/123">
                <img src="https://raw.github.com/ewernqvi/mvc_rest_demo/master/server/test-data/img/surfboard.jpg" class="img-thumbnail" alt="Responsive image">
            </a></td>
            <td>
              <div>Today 11:14</div>
              <div><a href="#/advertisment/123"><h2>Premium Surf Board</h2></a></div>
              <div><h3>Price: 110 $</h3></div>
            </td>
          </tr>
          <tr><td><div><img src="https://raw.github.com/ewernqvi/mvc_rest_demo/master/server/test-data/img/longboard.jpg" class="img-thumbnail" alt="Responsive image">
            </div></td>
            <td>
              <div>Today 10:14</div>
              <div><h2>Premium Long Board</h2></div>
              <div><h3>Price: 220 $</h3></div>
            </td>
          </tr>
          <tr><td>
              <div><img src="https://raw.github.com/ewernqvi/mvc_rest_demo/master/server/test-data/img/zoggs.jpg" class="img-thumbnail" alt="Responsive image">
            </div></td>
            <td>
              <div>Today 09:11</div>
              <div><h2>Dr Zoggs Sex Wax</h2></div>
              <div><h3>Price: 11 $</h3></div>
            </td>
          </tr>
           end dyn content -->
        </tbody>
      </table>

    </div> <!-- /container -->
