<div class="container">
  <div class="row">
  <div ng-hide="login.user" class="col-md-6">
    <form action="" ng-submit="login.connect()">
      <fieldset>
        <legend>Login</legend>
        <p><input ng-model="login.login" name="email" type="text" placeholder="Login" required /></p>
        <p><input ng-model="login.password" name="password" type="password" placeholder="Password" required /></p>
        <p><button type="submit">Login</button></p>
      </fieldset>
    </form>
  </div>
  <div ng-hide="login.user" div class="col-md-6">
      <form action="" ng-submit="login.register()">
      <fieldset>
        <legend>Register new User</legend>
        <p><input ng-model="login.new.user" name="email" type="text" placeholder="your email" required /></p>
        <p><input ng-model="login.new.password" name="password" type="password" placeholder="Password" required /></p>
        <p><button type="submit">Register</button></p>
      </fieldset>
    </form>
  </div>
  
  </div>

  <div ng-show="login.user">
    <p>Welcome, {{login.user._id}} : token {{login.user.userToken}}!</p>
    <p><button ng-click="login.disconnect()">Logout</button></p>
  </div>
</div>