# application css file
      .navbar-header{
        margin-left:30px;
        margin-right:10px;
        width:96%;
      }

      .img-thumbnail{
        width: 160px;
        height: 160px;
      }

      .brand{
        color: blue;
        font-size: 200%;
      }